@*
    Creator: Liam Easton
    Created: 4/25/2024
    Summary: Creation details actionlink
*@

@model DataObjects.Incident

@{
    ViewBag.Title = "Details";
    ViewBag.Title = "Incident Details";
}

<div class="default-container">
    <div>
        <dl class="dl-horizontal">
            <dt>
                Description:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                Status:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.incidentStatus)
            </dd>

            <dt>
                Reported:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.reported)
            </dd>

            <dt>
                Reported By:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.reportedBy)
            </dd>

            <dt>
                Feedback:
            </dt>

            <dd>
                @if (Model.feedBack != "")
                {
                    @Html.DisplayFor(model => model.feedBack)
                }
                else
                {
                    <p>No feedback provided</p>
                }
            </dd>
            <dt>
                Severity:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.severity)
            </dd>

            <dd>
                <div class="form-group mt-4" onclick="window.location.href='@Url.Action("Edit", "Security", new {  id = Model.incidentID  })'">
                    <button class="btn-generic">
                        Edit Incident
                    </button>
                </div>
            </dd>
        </dl>
    </div>
    <div>
        <div class="form-group mt-4" onclick="window.location.href='@Url.Action("Index", "Security")'">
            <button class="btn-generic">
                Back to incidents
            </button>
        </div>
    </div>
</div>