@*
    Creator: Liam Easton
    Created: 3/10/2024
    Summary: Creation of the login actionlink
    Last Updated By: Liam Easton
    Last Updated: 4/12/2024
    What Was Changed: Changed the original look of this page
*@
@model MvcPresentation.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.PageType = "NoHero";
}


<main aria-labelledby="title" class="register-container bg-dark bg-opacity-50 d-flex justify-content-center">
    <div class="pt-5 box">
        <section id="loginForm" class="pt-5">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="d-flex flex-column align-items-center pt-5">
                    <h1 class="text-center pt-5 fw-bold text-white">@ViewBag.Title</h1>
                    <div class="col-md-12 text-center">
                        <br />
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger mb-4 fw-bold text-danger" })
                        <br />
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-inputs text-center", placeholder = "Email" })
                    </div>
                    <br />
                    <br />
                    <div class="mb-3 col-md-12 text-center mb-5">
                        <input type="submit" value="Submit" class="btn btn-outline-light px-lg-5 login-button" />
                    </div>
                    <hr class="mb-3 hr-login" />
                    <p>
                        @Html.ActionLink("Log in", "Login", null, new { @class = "mx-5 login-footer-links" })
                        @Html.ActionLink("Register", "Register", null, new { @class = "mx-5 login-footer-links" })
                    </p>
                </div>
            }
        </section>
    </div>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}