@*
    Creator: Liam Easton
    Created: ??
    Summary: Creation of the register actionlink
    Last Updated By: Liam Easton
    Last Updated: 4/25/2024
    What Was Changed: Changed the UI to match the Register Page
*@
@model MvcPresentation.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    ViewBag.PageType = "NoHero";
}

<main aria-labelledby="title" class="bg-dark bg-opacity-50 register-container d-flex justify-content-center">
    <div class="pt-2 box">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <h1 class="text-center pt-5 fw-bold text-white">@ViewBag.Title</h1>
            <div class="col-md-12 text-center mt-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-inputs text-center", placeholder = "Email" })
                <br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-inputs text-center mt-5", placeholder = "Password" })
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-inputs text-center mt-5", placeholder = "Confirm Password" })
            </div>
            <div class="col-md-12 text-center mb-5 pt-5">
                <input type="submit" value="Reset" class="btn btn-outline-light px-lg-5 login-button" />
            </div>
        }
    </div>
</main> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
